html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    /*background: url(snow.gif) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mySlides {display:none;}

h1 {
    text-align: center;
    color: black;
}


.center{
    color: black;
    text-align: center;


}

.frontpageimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}




nav{
    background-color: #333;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
    text-align: left;


}

.navbarlink{
    color: #eee;
}

nav li {
    box-sizing: border-box;
    display: inline-block;
    padding: 12px;
    cursor:pointer;

}

nav li:hover{
    background-color: white;
    color:black;

}

.dropdown{
    position:relative;
    z-index: 9999;
}

.dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    display:none;
}

.dropdown-content li{
    background-color: #333;
    width: 100%;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.zoekbalk{
    margin-top: 0.5%;
    display: inline-block;
}

.inlognav {
    display: inline-block;
    position: absolute;

}