html,body{
    padding-top: 70px;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background: url(snow.gif) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.mySlides {display:none;}

h1 {
    padding-top: 10px;
    text-align: center;
    color: black;
}

h2 {
    padding-top: 20px;
    text-align: center;
    color: black;
}

h3 {
    text-align: center;
    color: black;
}


.center{
    color: black;
    text-align: center;

}

.frontpageimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

nav{
    background-color: #333;
    color: #eee;
    font-size: 18px;
    font-weight: bold;
    padding-right: 15px;
    /*text-align: left;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*z-index: 9999;*/

}

.navbarlink{
    color: #eee;
}
.navbarlink:hover{
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}
nav li {
    box-sizing: border-box;
    display: inline-block;
    padding: 12px;
    cursor:pointer;

}

nav li:hover{
    background-color: white;
    color:black;
    text-decoration: none;


}

.dropdown{
    position:relative;
    z-index: 9999;
}

.dropdown-content{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    display:none;
}

.dropdown-content li{
    background-color: #333333;
    width: 100%;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none;
}

.zoekbalk{
    margin: 10px;
    padding: 0;
    display: inline-block;
    position: relative;
}
.navfoto {
    margin: 5px;
    height: 50px;

}

.navinlog {
    position: relative;
    float: right;
    display: inline-block;
    margin-top: 0.8%;
}

.mand:hover{
    text-decoration: none;
}

.aantalfilter {
    margin-left: 15px;
    display: inline-block;
    position: relative;
    text-align: center;

}

.productgallery {

}

.groen {
    color : green;
}

.orderlijst {
    border: 2px solid black;
    position: relative;
    display: inline-block;
    float: left;

}

.bestelknop{

    margin-top: 15%;
    text-align:center;
}


.formulier{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #e6e7ff;
    color: #333;
}

